body{
    position: relative;
    background-image: url(../images/backgorund.jpeg);
    background-size: 100%;
}

h1{
    font-family: Georgia;

    position: relative;
    top: -160px;
    left: 30px;
}

a{
    position: relative;
    top: 280px;
    left: 600px;
}

button{
    color: white;
    background-image: linear-gradient(#9640fa, #623fcb);

    position: static;
    /*top: 0px;
    left: 0px;*/


    width: 285px;
    height: 85px;

    border-radius: 50px;
}

#songs{
    color:white;
    position: static;
    /*top: -50px;
    left: 0px;*/

    text-decoration: none;
    margin-left: 10px;

}

#form{
    position: relative;
    top: -170px;
}
/*
#name{
    margin-left: 15px;
    text-overflow: ellipsis;
}
#album{
    position: relative;
    left:150px;
    top:-17px;
    text-overflow: ellipsis;
}
#author{
    position: relative;
    top:-32px;
    left: 300px;
    text-overflow: ellipsis;


}*/
#container{
    color: white;

    position: relative;
    top: 100px;
    left: 200px;

    width: 400px;
    height: 500px;
    border-radius: 10px;

    background-image: linear-gradient(#9640fa, #623fcb);
    /*background-color: #623fcb; #9640fa*/
}

#search{
    position: relative;
    top: -400px;
    left: 750px;

    background-image: linear-gradient(#9640fa, #623fcb);
    height: 200px;
    width: 350px;
    border-radius: 10px;
}

#s_container{
    font-family: Georgia;
    color: white;
    margin-left: 10px;
}