

body{
    position: relative;
    background: #9640fa;
    font-family: Verdana,Arial;
    background-image: url(startbackground.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#boton{
    position: absolute;
    left: 200px;
    top:550px;
}

#boton1{
    position: absolute;
    top: 545px;
    left: 420px;
}

#boton2{
    position: relative;
    top:550px;
    left: 750px;
}