

body{
    position: relative;
    background: #9640fa;
    font-family: Verdana,Arial;
    background-image: url(startbackground.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#boton{
    position: relative;
    left: 200px;
    top:550px;
}

#boton1{
    position: relative;
    top: 550px;
    left: 600px;
}

#boton2{
    position: relative;
    top:500px;
    left: 1000px;
}