

body{
    position: relative;
    background-image: url(../images/startbackground.jpg);
    background-size: 100%;
}

button{
    color: white;
    background-color: #9640fa;
    background-position: center;
    background-size: 500px;


    width: 480px;
    height: 85px;

    border-radius: 50px;
}

#button{
    background-image: url(../images/register.png);

    position: relative;
    top: 500px;
    left: 100px;

}

#button1{

    background-image: url(../images/sesion.png);

    position: absolute;
    top: 500px;
    left: 300px;

}

#button2{

    background-image: url(../images/anonimo.png);

    position: absolute;
    top: 500px;
    left: 500px;

}