<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <title>Eliminado correctamente</title>

    <style>
        body{
            position: relative;
            background-color: #9640fa;
            background-image: linear-gradient( #9640fa, #623fcb);
            background-size: 100%;
            color: white;
            text-align: center;
            font-family: Verdana,Arial;
        }

        a{
            color: white;
            text-align: center;
            font-family: Verdana,Arial;
        }

    </style>
</head>
<body>
  <p>Se ha eliminado la cancion con exito</p>
  <a href="/songs">Volver al tabl&oacuten</a>
</body>
</html>