<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genius</title>
</head>
<body>
    <!-- A user will upload a new song here-->
    <form method="post" action="/new/song">
        <p>Nombre: </p>
        <input type="text" name="name">
        <p>Author: </p>
        <input type="text" name="author">
        <p>Album: </p>
        <input type="text" name="album">
        <p>Lyrics: </p>
        <input type="text" name="lyrics">
        <p>URL: </p>
        <input type="text" name="url">


        <input type="submit" name="Enviar">
    </form>

</body>
</html>