<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/portalstyle.css">
    <title>Genius</title>
</head>
<body>
<!--Main portal of songs, only title displayed-->
<div id="container">
    <a href="/new/song"><button type="button">Subir una canci&oacuten</button></a>
    <a href="/"><button type="button">Volver a la pagina de inicio</button></a>


    <section id="content">
        <h1>Canciones del portal</h1>

        {{#song}}

            <form action="/songs/delete/{{id}}" method="get" id="form">

                <a href="/Song/{{id}}" id="songs">
                    {{name}} {{author}}
                </a>

                <input type="hidden" name="_csrf" value="{{token}}">
                <input type="submit" name="Delete" value="Eliminar">
            </form>

        {{/song}}
<!--
        <a href="/pruebaRoles">roles</a>
-->
    </section>

</div>

    <form method="post" action="/songs/search" id="search">
        <div id="s_container">
            <label>Buscar canciones</label>
            <p><label>Nombre:</label>
                <input type="text" name="name"></p>
            <p><label>Autor:</label>
                <input type="text" name="author"></p>
            <p><label>Album:</label>
                <input type="text" name="album"></p>

            <input type="hidden" name="_csrf" value="{{token}}">
            <input type="submit" value="Buscar">
        </div>
    </form>
<a href="/logout"><button type="button" id="logoutButton">Cerrar Sesi&oacuten</button> </a>
<a href="/admin"><button type="button" id="adminButton">P&aacutegina privada</button> </a>

<a href="/logout">Cerrar Sesi&oacuten</a>

</body>
</html>