<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genius</title>
</head>
<body>
 <!--Main portal of songs, only title displayed-->
    <h1>Canciones subidas por los usuarios</h1>
 {{#song}}
 <!--<form action="/songs/delete/{{id}}" method="get">-->
     <p> <a href="/Song/{{-index}}">{{name}}     {{album}}       {{author}} </a> <!--<input type="submit" name="Delete">--> </p>
 <!--</form>-->
 {{/song}}
    <p></p>
    <p></p>
    <a href="/new/song">Subir una canci&oacuten</a>
</body>
</html>