<!DOCTYPE html>
<html lang="en">
<!-- Shows song info-->
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../css/songstyle.css">
  
  <script src="https://cdn.ckeditor.com/ckeditor5/18.0.0/classic/ckeditor.js"></script>
  
    <title>{{song.name}}</title>
</head>
<body>
<div id="container">
    <header>
        <p>Nombre: {{song.name}}</p>
    </header>
    <div id="son">
        <p>Autor: {{song.author}}</p>
        <p>Album: {{song.album}}</p>
        <p>Lyrics: {{song.lyrics}}</p>
        <p>Video: {{song.url}}</p>
        <!--<p>Date: {{song.date}}</p>-->
    <p></p>
    <p></p>
         Create a new comment
    <label>Secci&oacuten de Comentarios</label>
    {{#comment}}
    <form action="/Song/delete/{{song.id}}/{{id}}" method="get">
        <p>Comentario {{-index}}: {{text}} <input type="submit" name="Delete" value="Eiminar"></p>
    </form>
    {{/comment}}

    <form method="post" action="/new/comment/{{song.id}}">
        <p>Comentario: </p>
        <textarea name='comment' rows=5 cols=40 id="txtDescripcion"></textarea>
        <input type="submit" name="Enviar">
    </form>
    </div>

</div>
<footer>
    <a href="/songs">Volver al tabl&oacuten</a>
</footer>
  <script>
        ClassicEditor
            .create( document.querySelector( '#txtDescripcion' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>

</body>
</html>