<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{song.name}}</title>
</head>
<body>
    <p>Nombre: {{song.name}}</p>
    <p>Autor: {{song.author}}</p>
    <p>Album: {{song.album}}</p>
    <p>Lyrics: {{song.lyrics}}</p>
    <p>Video: {{song.url}}</p>


    <p></p>
    <p></p>

    <label>Secci&oacuten de Comentarios</label>
    {{#comment}}
        <label>Etiqueta</label>
        <p>Comentario {{-index}}: {{text}}</p>
    {{/comment}}

    <form method="post" action="/new/comment/{{song.id}}">
        <p>Comentario: </p>
        <textarea name='comment' rows=5 cols=40></textarea>
        <!--<input type="hidden" name="song" value=song.id> -->
        <input type="submit" name="Enviar">
    </form>

    <a href="/songs">Volver al tabl&oacuten</a>

    <a href="/comments">Comentarios</a>

</body>
</html>