<!DOCTYPE HTML>
<html>
    <head>
        <title> GENIUS </title>
        <meta name="description" content="Comment your songs!">
        <meta name="creators" content="Daniel Muñoz Ramirez, Miguel Angel Villanueva Villaseñor, Guillermo Prieto Rodriguez">
        <meta charset=utf-8" />
        <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="../css/StartStyle.css">
    </head>

    <body>
        <div id="boton">
            <a href="/new/user"><img src="../images/register.png"></a>
        </div>
        <div id="boton1">
            <a href="/"><img src="../images/sesion.png"></a>
        </div>
        <div id="boton2">
            <a href="/songs"><img src="../images/anonimo.png"></a>
        </div>
</body>
</html>