<!DOCTYPE HTML>
<html>
    <head>
        <title> GENIUS </title>
        <meta name="description" content="Comment your songs!">
        <meta name="creators" content="Daniel Muñoz Ramirez, Miguel Angel Villanueva Villaseñor, Guillermo Prieto Rodriguez">
        <meta charset=utf-8" />
        <link rel="shortcut icon" href="/static/Images/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="StartStyle.css">
        <link rel="stylesheet" href="LogoCSS.css">
    </head>

    <body>
        <span class='icon'></span>
        <div id="container">
            <header>
                <h1 style="text-align: center;">Genius</h1>
                <p style="text-align: center">
                    <img src="NOMBRE_DE_FOTOGRAFIA.jpg" alt="Imagen no disponible" width="300" height="160" />
                </p>
            </header>

            <p style="text-align: center;font-size: 20px">
                <strong> COMENTA TUS CANCIONES PREFERIDAS </strong>
            </p>
            <p style="text-align: center; font-family: Arial; font-size: 14px; line-height: 7px">
            Registrate o entra como an&oacutenimo
            </p>
            <!--<img src="/static/Images/StartBackground.jpg">
            <img src="/static/Images/boton%20start.jpg">-->

        </div>
</body>
</html>